body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3C4043;
}

a:link, a:active {
	color: #1967D2;
	text-decoration: none;
}

a:visited {
	color: #4B11A8;
}

a:hover {
	text-decoration: underline;
}

#mainContainer {
	padding: 0 0 20px;
}

#pageHeader {
	padding: 20px 5px 0 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}

.pageHeaderText {
	margin: 0 0 10px;
	text-align: center;
	font-weight: normal;
	font-size: 20px;
}

.searchFormContainer {
	padding: 0 0 20px;
}

.post {
	border: 1px solid #ddd;
	margin-bottom: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.postTextContainer {
	padding: 15px;
}

.postTitle {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.postText {
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 20px;
}

.postMeta {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
}

.postDate, .postTags {
	color: #A4A5A5;
}

.favicon img {
	vertical-align: middle;
}

.postMedia {
	color: #A4A5A5;
	margin: 10px 0 0;
	font-size: 12px;
}

.inlineFormUi {
	display: flex;
}

.textField {
	border: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.searchFormInput {
	flex-grow: 1;
}

.button, .textField {
	font-size: 16px;
	padding: 5px 15px;
}

.button {
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 5px;
}

.button.searchFormSubmit {
	border-radius: 0 5px 5px 0;
	width: 46px;
	background-color: #3b78e7;
	color: #fff;
	border: 0;
}

#content {
	margin: 0 5px;
}

.searchResultsControls {
	display: flex;
	align-items: center;
	margin: 0 0 10px;
	font-size: 12px;
	color: #A4A5A5;
}

.searchSorterContainer {
	margin: 0;
}

.searchSorterContainer label {
	display: none;
}

.searchResultsInfo {
	margin: 0;
	flex-grow: 1;
}

.post.video .postDescription {
	display: none;
}

.statsCard {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}

.statsCardHeader {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.statsCardTitle {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 0;
}

.statsCardTitle:last-child {
	margin-bottom: 0;
}

.statsCardSubtitle {
	margin: 0;
	padding: 0;
}

.statsCardSubtitle, .statsCardContent {
	font-size: 14px;
	line-height: 20px;
}

.statsCardContent {
	padding: 10px;
}

.statsCardList {
	margin: 0;
	padding: 0;
	padding-inline-start: 20px;
}

.postsContainerTitle {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
}

.showMorePostsFormContainer {
	margin-bottom: 60px;
}

.featuredImageContainer {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.post {
	overflow: hidden;
	border-radius: 5px;
}

.featuredImage {
	width: 100%;
	z-index: 1;
	position: relative;
	vertical-align: bottom;
}

.featuredImageBlur {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 512px;
	filter: blur(40px);
	opacity: 1;
}

.noImageIconContainer {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.noImageIcon {
	display: block;
	color: #fff;
	font-size: 72px;
}

@media only screen and (min-width: 768px) {
	.searchResultsControls {
		margin-bottom: 20px;
	}

	.post {
		padding: 0;
		margin-bottom: 60px;
		border: none;
	}

	.postTextContainer {
		padding: 0 10px 0 0;
	}

	#pageHeaderContainer {
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
	}

	#pageHeader {
		display: flex;
		align-items: center;
		padding: 20px;
		width: 768px;
		box-sizing: border-box;
		margin: 0 auto;
		border-bottom: none;
	}

	#content {
		width: 768px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 20px;
	}

	.queue #content {
		width: 1440px;
	}

	.queuedSites {
		width: 100%;
		border: 1px solid #eee;
	}

	.queuedSites th {
		text-align: left;
	}

	.queuedSites tr:hover {
		background-color: #eee;
	}

	.queueFeedUrl {
		width: 360px;
	}

	.pageHeaderText {
		margin: 0;
		padding-right: 20px;
	}

	.searchFormContainer {
		padding: 0;
		flex-grow: 1;
	}

	.featuredImageContainer {
		height: 171px;
		background-color: #ddd;
	}

	.featuredImage {
		display: block;
		max-width: 304px;
		max-height:171px;
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.postsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.post {
		width: 304px;
		border: 1px solid #ddd;
		margin-bottom: 30px;
	}

	.postTextContainer {
		padding: 10px;
	}

	.featuredImageContainer.noImage {
		background: rgb(75,17,168);
		background: linear-gradient(90deg, rgba(75,17,168,0.592874649859944) 0%, rgba(221,221,221,1) 100%);
	}
}

@media only screen and (min-width: 1024px) {
	#pageHeader {
		width: 1024px;
	}

	#content {
		width: 1024px;
	}

	.row {
		display: flex;
	}

	.colMain {
		flex: 70%;
		padding-right: 20px;
	}

	.colSide {
		flex: 30%;
	}
}

@media only screen and (min-width: 1440px) {
	#pageHeader {
		width: 1440px;
	}

	#content {
		width: 1440px;
	}
}