body {
	--light-color: #fff;
	--nav-border-color: #eee;
	--main-border-color: #ddd;
	--header-bg-color: #ddd;
	--deemphasized-text-color: #A4A5A5;
	--main-font-color: #3C4043;
	--search-button-bg: #3b78e7;
	--active-link-color: #1967D2;
	--visited-link-color: #4B11A8;
	--input-text-colour: #000;
	--input-bg-colour: #fff;
	--element-bg-color: var(--light-color);
	--no-image-tile-gradient1: rgba(75, 17, 168, 0.592874649859944);
	--no-image-tile-gradient2: rgba(221, 221, 221, 1);
	--subdued-color: rgb(110, 118, 125);
}

@media (prefers-color-scheme: dark) {
	body {
		--light-color: #0d1117;
		--nav-border-color: #30363d;
		--main-border-color: #30363d;
		--header-bg-color: #161b22;
		--deemphasized-text-color: #A4A5A5;
		--main-font-color: #c9d1d9;
		--search-button-bg: #3b78e7;
		--active-link-color: #58a6ff;
		--visited-link-color: #58a6ff;
		--input-text-colour: #c9d1d9;
		--input-bg-colour: #0d1117;
		--element-bg-color: #161b22;
		--no-image-tile-gradient1: var(--header-bg-color);
		--no-image-tile-gradient2: var(--header-bg-color);
		--subdued-color: rgb(110, 118, 125);
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: var(--main-font-color);
	background-color: var(--light-color);
}

a:link, a:active {
	color: var(--active-link-color);
}

a:visited {
	color: var(--visited-link-color);
}

.postDate a:active, .postDate a:link, .postDate a:visited, .postDate a:hover,
.postTags a:active, .postTags a:link, .postTags a:visited, .postTags a:hover {
	color: var(--subdued-color);
	text-decoration: none;
}

.post {
	border: 1px solid var(--main-border-color);
	background-color: var(--element-bg-color);
}

.postDate, .postTags, .searchResultsInfo {
	color: var(--deemphasized-text-color);
}

.postMedia {
	color: var(--deemphasized-text-color);
}

.textField {
	border: 1px solid var(--main-border-color);
}

.button {
	border: 1px solid var(--main-border-color);
	background-color: var(--light-color);
}

.button.searchFormSubmit {
	background-color: var(--search-button-bg);
	color: var(--light-color);
}

.searchResultsControls {
	color: var(--deemphasized-text-color);
}

.statsCard {
	border: 1px solid var(--main-border-color);
}

.statsCardHeader {
	border-bottom: 1px solid var(--main-border-color);
}

.postsContainerTitle {
	border-bottom: 1px solid var(--main-border-color);
}

.featuredImageContainer {
	border-bottom: 1px solid var(--main-border-color);
}

.noImageIcon {
	color: var(--light-color);
}

.customDate {
	border: 1px solid var(--main-border-color);
}

.customDateSubmit {
	border: 1px solid var(--search-button-bg);
}

.mainPostContainer {
	border: 1px solid var(--main-border-color)
}

.mainPostContainer .subscribeBtn, .postsContainer .subscribeBtn {
	background-color: transparent;
	color: var(--subdued-color);
}

.searchFormInput.textField, .customDate {
	color: var(--input-text-colour);
	background-color: var(--input-bg-colour);
}

.featuredImageContainer.noImage {
	background: var(--no-image-tile-gradient1);
	background: linear-gradient(90deg, var(--no-image-tile-gradient1) 0%, var(--no-image-tile-gradient2) 100%);
}

.mainPostContainer {
	background-color: var(--element-bg-color);
}

#nav {
	background-color: var(--header-bg-color);
}

.navListItem {
	border-right: 2px solid var(--nav-border-color);
}

.customDateSubmit {
	color: var(--main-font-color);
}

.searchButton.pagination.button {
	color: var(--main-font-color);
}

@media only screen and (min-width: 768px) {
	.queuedSites {
		border: 1px solid var(--nav-border-color);
	}

	.queuedSites tr:hover {
		background-color: var(--nav-border-color);
	}

	.featuredImageContainer {
		background-color: var(--main-border-color);
	}
}



a:link, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#mainContainer {
	padding: 0 0 20px;
}

#pageHeader {
	padding: 20px 5px 0 5px;
}

.pageHeaderText {
	margin: 0 0 10px;
	text-align: center;
	font-weight: normal;
	font-size: 20px;
}

.searchFormContainer {
	padding: 0 0 20px;
}

.post {
	margin-bottom: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.postTextContainer {
	padding: 15px;
}

.postTitle {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.postText {
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 20px;
}

.favicon img {
	vertical-align: top;
	margin-right: 5px;
	border-radius: 10px;
}

.postMedia {
	margin: 10px 0 0;
	font-size: 12px;
}

.inlineFormUi {
	display: flex;
}

.textField {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.searchFormInput {
	flex-grow: 1;
}

.button, .textField {
	font-size: 16px;
	padding: 5px 15px;
}

.button {
	border-radius: 5px;
}

.button.searchFormSubmit {
	border-radius: 0 5px 5px 0;
	width: 46px;
	border: 0;
}

#content {
	margin: 0 5px;
}

.searchResultsControls {
	display: flex;
	align-items: center;
	margin: 0 0 10px;
	font-size: 12px;
}

.searchSorterContainer {
	margin: 0;
}

.searchSorterContainer label {
	display: none;
}

.searchResultsInfo {
	margin: 0;
	flex-grow: 1;
}

.post.video .postDescription {
	display: none;
}

.statsCard {
	border-radius: 5px;
	margin-bottom: 10px;
}

.statsCardHeader {
	padding: 10px;
}

.statsCardTitle {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 0;
}

.statsCardTitle:last-child {
	margin-bottom: 0;
}

.statsCardSubtitle {
	margin: 0;
	padding: 0;
}

.statsCardSubtitle, .statsCardContent {
	font-size: 14px;
	line-height: 20px;
}

.statsCardContent {
	padding: 10px;
}

.statsCardList {
	margin: 0;
	padding: 0;
	padding-inline-start: 20px;
}

.postsContainerTitle {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}

.showMorePostsFormContainer {
	margin-bottom: 60px;
}

.featuredImageContainer {
	position: relative;
	overflow: hidden;
}

.post {
	overflow: hidden;
	border-radius: 5px;
}

.featuredImage {
	width: 100%;
	z-index: 1;
	position: relative;
	vertical-align: bottom;
}

.featuredImageBlur {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 512px;
	filter: blur(40px);
	opacity: 1;
}

.noImageIconContainer {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.noImageIcon {
	display: block;
	font-size: 72px;
}

.customDateRow {
	display: flex;
	align-items: center;
}

.customDateLabel {
	width: 50px;
}

.customDate {
	border-radius: 5px;
	padding: 5px;
}

.customDateSubmit {
	border-radius: 5px;
	padding: 5px;
	margin-left: 50px;
	background-color: transparent;
}

.mainPostContainer {
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 32px;
}

.mainPostImage {
	max-width: 100%;
	vertical-align: bottom;
	z-index: 1;
	position: relative;
}

.mainPostImageWrapper {
	position: relative;
	text-align: center;
}

.mainPostTextContainer {
	padding: 15px;
}

.mainPostTitleText {
	margin: 0 0 15px;
	font-size: 24px;
	line-height: 28px;
}

.mainPostDescr {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 22px;
}

.mainPostMeta {
	font-size: 14px;
	line-height: 18px;
}

.relatedPostsHeaderText {
	margin: 0 0 15px;
	line-height: 24px;
	font-size: 20px;
}

.mainPostImageContainer.hasImage {
	overflow: hidden;
}

.text #content h2, h2.pageTitle {
	margin: 24px 0 8px;
	font-size: 28px;
	line-height: 32px;
}

.text #content p, p.pageText, .text ul {
	margin: 4px 0 12px;
	font-size: 14px;
	line-height: 20px;
}

.mainPostContainer .subscribeBtn, .postsContainer .subscribeBtn {
	cursor: pointer;
	border: none;
	padding: 0;
	margin: 0;
}

.featuredImageContainer.noImage {
	min-height: 171px;
}

#nav {
	margin-bottom: 20px;
}

#navList {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.navListItem {
	padding: 5px 10px 5px 5px;
	margin: 5px 5px 5px 0;
	font-size: 14px;
}

.navListItem:last-child {
	margin-right: 0;
	border: none;
}

.siteNameContainer {
	display: flex;
	font-size: 14px;
	align-items: center;
	margin: 0 0 20px;
}

.postDate {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0 0;
	border-top: 1px solid var(--main-border-color);
}

.postTags {
	margin: 10px 0 0;
	padding: 10px 0 0;
	font-size: 14px;
	line-height: 20px;
	border-top: 1px solid var(--main-border-color);
}

.postDate, .postTags {
	color: var(--subdued-color);
}

.trendingAnimeContainer {
	margin-top: 12px;
}

.trendingAnimeListItem {
	border: 1px solid var(--main-border-color);
	background-color: var(--element-bg-color);
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 15px;
}

.trendingAnimeTitle, .trendingPostsCount {
	display: block;
}

.trendingAnimeTitle {
	margin-bottom: 10px;
}

.trendingPostsCount {
	padding: 10px 0 0;
	border-top: 1px solid var(--main-border-color);
	color: var(--subdued-color);
}

ul.trendingAnimeList {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 15px;
	list-style-type: none;
	border: 1px solid var(--main-border-color);
}

.timeFilter {
	border: 1px solid var(--main-border-color);
	font-size: 14px;
	padding: 15px;
	border-bottom: none;
}

.timeFilter.selected {
	background-color: var(--main-border-color);
}

@media only screen and (min-width: 768px) {
	.timeFilters {
		display: flex;
	}

	.timeFilter {
		border-right: none;
	}

	.timeFilter:last-child {
		border-right: 1px solid var(--main-border-color);
	}

	#nav {
		margin: 0 0 20px 0;
	}

	#navList {
		justify-content: flex-start;
		width: 768px;
		margin: 0 auto;
	}

	.navListItem:first-child {
		margin-left: 15px;
	}

	.searchResultsControls {
		margin-bottom: 20px;
	}

	.post {
		padding: 0;
		margin-bottom: 60px;
	}

	.postTextContainer {
		padding: 0 10px 0 0;
	}

	#pageHeader {
		display: flex;
		align-items: center;
		padding: 20px;
		width: 768px;
		box-sizing: border-box;
		margin: 0 auto;
		border-bottom: none;
	}

	#content {
		width: 768px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 20px;
	}

	.queue #content {
		width: 1440px;
	}

	.queuedSites {
		width: 100%;
	}

	.queuedSites th {
		text-align: left;
	}

	.queueFeedUrl {
		width: 360px;
	}

	.pageHeaderText {
		margin: 0;
		padding-right: 20px;
	}

	.searchFormContainer {
		padding: 0;
		flex-grow: 1;
	}

	.featuredImageContainer {
		height: 171px;
	}

	.featuredImage {
		display: block;
		max-width: 304px;
		max-height:171px;
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.postsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.post {
		width: 304px;
		margin-bottom: 30px;
	}

	.postTextContainer {
		padding: 10px;
	}
}

@media only screen and (min-width: 1024px) {
	#pageHeader {
		width: 1024px;
	}

	#content {
		width: 1024px;
	}

	#navList {
		width: 1024px;
	}

	.text #content {
		width: 768px;
	}

	.row {
		display: flex;
	}

	.colMain {
		flex: 70%;
		padding-right: 20px;
	}

	.colSide {
		flex: 30%;
	}

	.mainPostContainer {
		display: flex;
		align-items: center;
	}

	.mainPostImageContainer.hasImage, .mainPostTextContainer {
		width: 50%;
	}

	.mainPostTextContainer {
		flex-grow: 1;
	}

	.mainPost.colMain {
		padding-right: 0;
	}

	.mainPostImage {
		max-height: 500px;
	}
}

@media only screen and (min-width: 1440px) {
	#pageHeader {
		width: 1440px;
	}

	#content {
		width: 1440px;
	}

	#navList {
		width: 1440px;
	}

	.text #content {
		width: 768px;
	}
}